@import '../styles/utils/variables';

.page-accounts {
  display: flex;
flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px 0;  
  }

  .page-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;

    button {
      border: white solid 1px;
      background-color: transparent;
      padding: 10px;
      max-width: 150px;
      flex-grow: 1;
      border-radius: 5px;
    }
  }
}