@import '../styles/utils/variables';

.page-accounts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px 0;      
  }

  .accounts-list {
    overflow-y: auto;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}