@import '../styles/utils/variables';

.page-accounts {
  flex-grow: 1;
  max-width: $max-width-desktop;

  .accounts-list {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}