/* Target the scrollable container */
.scrollable {
  overflow-y: auto;

  /* Scrollbar track */
  &::-webkit-scrollbar {
    width: 8px;
    margin: 0px 20px;
    padding: 0px 20px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 0px 20px;
    padding: 0px 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.7);
  }
}