@import '../../styles/utils/variables';

.dataControls {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .select {
    padding: 10px 15px;
    border: $white-50 solid 1px;
    background-color: $bg-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    & option {
      padding: 10px 15px;
      border: $white-50 solid 1px;
      background-color: $bg-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }

  .button {
    padding: 10px 15px;
    border: $white-50 solid 1px;
    background-color: $bg-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}