@import '../../styles/utils/variables';

.transactionCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 7px;
  border-radius: 5px;
  border: solid white 1px;

  &Left {
    overflow: hidden;          // Hides the overflow
  }

  p {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;       // Prevents text from wrapping
    overflow: hidden;          // Hides the overflow
    text-overflow: ellipsis;   // Adds "..." at the end
  }

  &.expense {
    border-color: rgba($transaction-expense, 0.5);
    background-color: rgba($transaction-expense, 0.2);
    
    p {
      color: rgba($transaction-expense, 1);
    }
  }

  &.salary {
    border-color: rgba($transaction-salary, 0.5);
    background-color: rgba($transaction-salary, 0.2);
    
    p {
      color: rgba($transaction-salary, 1);
    }
  }

  &.pets {
    border-color: rgba($transaction-pets, 0.5);
    background-color: rgba($transaction-pets, 0.2);
    
    p {
      color: rgba($transaction-pets, 1);
    }
  }

  &.ccBorrow {
    border-color: rgba($transaction-ccBorrow, 0.5);
    background-color: rgba($transaction-ccBorrow, 0.2);
    
    p {
      color: rgba($transaction-ccBorrow, 1);
    }
  }

  &.monthly {
    border-color: rgba($transaction-monthly, 0.5);
    background-color: rgba($transaction-monthly, 0.2);
    
    p {
      color: rgba($transaction-monthly, 1);
    }
  }

  &.weekly {
    border-color: rgba($transaction-weekly, 0.5);
    background-color: rgba($transaction-weekly, 0.2);
    
    p {
      color: rgba($transaction-weekly, 1);
    }
  }
}