@import '../../styles/utils/variables';

.modal-edit-account {
  position: absolute;
  inset: 50px;
  max-width: 650px;
  margin: 0 auto;

  input, select, option {
    background-color: transparent;
  }
}

.modal-form-edit-account {
  display: flex;
  flex-direction: column;

  label {
    p {
      font-size: 14px;
    }
  }

  &-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    background-color: #1f1e23;
    
    &-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      button {
        background-color: transparent;
        border: none;
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {

        }

        input {
          font-size: 20px;
          border: none;
          border-right: solid 1px white;
          border-bottom: solid 1px white;
          padding: 2px 5px;
          font-weight: bold;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        
        button {
          border: white solid 2px;
          background-color: transparent;
          padding: 10px;
          max-width: 150px;
          flex-grow: 1;
          border-radius: 5px;
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    label {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 14px;
      }

      input {
        font-size: 16px;
        border: none;
        border-bottom: solid 1px white;
        padding: 5px 5px;
        // font-weight: bold;
      }

      select {
        font-size: 16px;
        border: none;
        border-bottom: solid 1px white;
        padding: 5px 5px;
        // font-weight: bold;

        option {
          color: black;
        }
      }
    }
  }
}