@import './utils/variables';
@import './utils/global';

// * Resetting default browser styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * Default font styles
* {
  font-family: $font-family;
  color: $text-white;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: $bg-primary;
  scrollbar-gutter: stable both-edges;
  
  .main {
    background-color: $bg-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    gap: 25px;
    flex-grow: 1;

    .head {
      display: flex;
      flex-direction: row;
      gap: 25px;
      justify-content: space-between;
      
      .left {
        display: flex;
        flex-direction: row;
        gap: 25px;
        
        .calendarHeadData {
          display: flex;
          flex-direction: row;
          gap: 25px;
          align-items: center;
          
          
          .left {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;

            .calendarTotalRunning {
              color: #EEA633;
              font-size: 18px;
              font-weight: bold;
            }
            
            .calendarChange {
              color: #71EDAF;
              font-size: 14px;
            }
          }

          .right {
            display: flex;
            flex-direction: row;
            gap: 5px;

            .calendarMax {
              padding: 3px 7px;
              font-size: 14px;
              background-color: #1D8752;
              border-radius: 5px;
              font-weight: bold;
            }

            .calendarMin {
              padding: 3px 7px;
              font-size: 14px;
              background-color: #FF9900;
              border-radius: 5px;
              font-weight: bold;
            }
          }

        }
      }

      .right {

      }
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 25px;
      flex-grow: 1;
    }
  }
}