@import './utils/variables';

// * Resetting default browser styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * Default font styles
* {
  font-family: $font-family;
  color: $text-white;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: $bg-primary;
  scrollbar-gutter: stable both-edges;
  
  .main {
    background-color: $bg-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    gap: 25px;
  }
}